### Book (Core)

###### Part 1

###### Part 2

In [4]:
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy_utils import database_exists, create_database
import pymysql
pymysql.install_as_MySQLdb()
from urllib.parse import quote_plus as urlquote

In [5]:
# Create connection string using credentials following this format
# connection = "dialect+driver://username:password@host:port/database"
username = "root"
password = "Kassie18*" # (whatever password you chose during mysql installation)
db_name = "Books"
connection = f"mysql+pymysql://{username}:{password}@localhost/{db_name}"
engine = create_engine(connection)

In [6]:
## Check if database exists, if not, create it
if database_exists(connection):
    print('It exists!')
else:
    create_database(connection)
    print('Database created!')

It exists!

In [7]:
author = pd.read_csv ('Data Folder/Auth

SyntaxError: EOL while scanning string literal (3902624495.py, line 1)

In [4]:
q = '''SHOW TABLES'''
pd.read_sql(q,engine)

Empty DataFrame
Columns: [Tables_in_books]
Index: []

In [5]:
SELECT books.title, favorites.user_id
FROM books
JOIN favorites ON books.id = favorites.book_id
WHERE favorites.user_id = 
    (SELECT users.id FROM users WHERE (users.last_name = "Doe" AND users.first_name = "John"));

SyntaxError: invalid syntax (3137837232.py, line 1)

Part 3: Exporting the database and committing to GitHub